*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family:  sans-serif;
}
a{
     text-decoration: none;
     color: rgb(97,97, 97);
}
li{
     list-style-type: none;

}
.btns{
     padding: 10px 20px;
     margin-right: 6px;
     background:transparent;
     border: none;
     border: .6px solid #ccc;
     color: #323232;
     cursor: pointer;
     border-radius:5px ;
     -webkit-border-radius:5px ;
     -moz-border-radius:5px ;
     -ms-border-radius:5px ;
     -o-border-radius:5px ;
}
.content {
     margin-left: 250px; /* Same width as the sidebar */
     padding: 20px;
   }
   
   /* Adjust for smaller screens */
   @media (max-width: 768px) {
     .content {
       margin-left: 200px; /* Adjust width for smaller screens */
     }
   }
   